body {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
}

.header_container,
.hero_container {
    display: flex;
    background-color: #1F2937;
    padding: 0px 100px;
}

.header_container {
    justify-content: center;
    flex-wrap: wrap;
}

.header_logo {
    font-size: 24px;
    color: #F9FAF8;
    padding-right: 20px;
}

.header_links {
    margin-left: auto;
    display: flex;
    align-items: center;
    gap: 20px;
}

.hero_container {
    justify-content: center;
    padding-top: 25px;
    padding-bottom: 50px;
    flex-wrap: wrap;
    gap: 50px;
}

.hero_container img {
    max-width: 80%;
    height: auto;
    justify-content: center;
}

.hero_title {
    font-size: 48px;
    font-weight: 800;
    color: #F9FAF8;
}

.hero_left p {
    color: #F9FAF8;
    flex-grow: 1;
    max-width: 300px;
}

.hero_right {
    display: flex;
    justify-content: center;
}