body {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
}

.header_container,
.hero_container {
    display: flex;
    background-color: #1F2937;
    padding: 0px 100px;
}

.header_container {
    justify-content: center;
    flex-wrap: wrap;
}

.header_logo {
    font-size: 24px;
    color: #F9FAF8;
    padding-right: 20px;
}

.header_links {
    margin-left: auto;
    display: flex;
    align-items: center;
    gap: 20px;
}

.hero_container {
    justify-content: center;
    padding-top: 25px;
    padding-bottom: 50px;
    flex-wrap: wrap;
    gap: 50px;
}

.hero_container img {
    max-width: 80%;
    height: auto;
    justify-content: center;
}

.hero_title {
    font-size: 48px;
    font-weight: 800;
    color: #F9FAF8;
    margin-bottom: 20px;
}

.hero_left p {
    color: #F9FAF8;
    flex-grow: 1;
    max-width: 300px;
}

.hero_right {
    display: flex;
    justify-content: center;
}

button {
    background-color: #3882F6;  
    padding:0.7em 1.7em;
    margin:0 0.3em 0.3em 0;
    border-radius:0.3em;
    box-sizing: border-box;
    text-decoration: none;
    font-weight:400;
    color:#F9FAF8;
    box-shadow:inset 0 -0.6em 1em -0.35em rgba(0,0,0,0.17),inset 0 0.6em 2em -0.3em rgba(255,255,255,0.15),inset 0 0 0em 0.05em rgba(255,255,255,0.12);
    text-align:center;
    position:relative; 
}

.main_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding-bottom: 50px;
}

.main_container h2 {
    font-weight: 400px;
    font-size: 36px;
    color: #1F2937;
}

.thumbnail_container {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.thumbnail {
    text-align: center;
    justify-content: center;
}

.quote_outer_container {
    display: flex;
    justify-content: center;
    background-color: #E5E7EB;
    font-size: 36px;
    padding: 25px;
}

.quote {
    font-style: italic;
}

.quote_source {
    display: flex;
    justify-content: flex-end;
    font-weight: bold;
}

.sign_up_container {
    display: flex;
    justify-content: center;
    padding: 50px;
}

.sign_up_banner {
    display: flex;
    justify-content: center;
    background-color: #3882F6;
    padding: 25px 50px;
    gap: 100px;
    border-radius: 0.3em;
}

.sign_up_text {
    display: flex;
    flex-direction: column;
}

.sign_up_text h3,
.sign_up_text p {
    margin: 0px;
    color: #F9FAF8;;
}