body {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
}

.header,
.hero_container {
    background-color: #1F2937;
    padding-left: 150px;
    padding-right: 150px;
}

.header {
    display: flex;
    background-color: #1F2937;
    justify-content: space-evenly;
}

.header_logo {
    font-size: 24px;
    color: #F9FAF8
}

.header_links {
    margin-left: auto;
    display: flex;
    align-items: center;
    gap: 10px;
}

.hero_container {
    display: flex;
    padding-top: 50px;
    padding-bottom: 50px;
}

img {
    max-width: 75%;
    height: auto;
}

.hero_title {
    font-size: 48px;
    font-weight: 800;
    color: #F9FAF8;
}

.hero_left p {
    color: #F9FAF8;
    flex-grow: 1;
}

.hero_right {
    display: flex;
    justify-content: flex-end;
    flex-shrink: 0;
    flex-grow: 1;
}